[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "==3.1.7"
flask = "==2.3.2"
flask-bcrypt = "==0.7.1"
flask-cors = "==3.0.8"
flask-login = "==0.4.1"
peewee = "==3.10.0"

[dev-packages]

[requires]
python_version = "3.10"
